@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
html, body {
    font-family: 'Nanum Gothic', serif;
    height:100%;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100%;
    position: relative;
}
a {
    text-decoration: none;
    color: black;
}

/* 텍스트 지정 색깔 */
::selection {
    background: #ff6a3d;
    color: #FFF;
    text-shadow: none;
}
::-moz-selection {
    background: #ff6a3d;
    color: #FFF;
    text-shadow: none;
}
::-webkit-selection {
    background: #ff6a3d;
    color: #FFF;
    text-shadow: none;
}


nav {
    font-family: 'Nanum Pen Script', serif;
    background-color: #26519e;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 99
}

#nav-main-logo {
    float: left;
    padding: 0 10px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}

#nav-main-logo a {
    text-decoration:none;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #cfdcf4;
}

nav ul {
    margin: 0 0 0 0 ;
}
nav ul li {
    display:inline;
    float:right;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}
nav ul li a {
    padding: 0 10px;
    text-decoration:none;
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #cfdcf4;
}
nav ul li a:hover {
    background-color: #1c3c75;
    color: white;
}
#menubar {
    display: none;
}
#side-menu {
    display: none;
}
#section-top {
    font-family: 'Nanum Pen Script', serif;
    width: 100%;
    height: 250px;
}
#section-top-main {
    width: 100%;
    background-image:url(/resources/image/main.PNG);
    height: 250px;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
}
#section-top-main h1 {
    height: 100px;
    margin-bottom: 0px;
    line-height: 250px;
    vertical-align: middle;
    text-align: center;
    font-size: 42px;
    margin-top: 0px;
    color: white;
}
#searchDiv {
    height: 50px;
    margin-bottom: 0px;
    vertical-align: middle;
    text-align: center;
    margin-top: 0px;
    color: white;
    font-size: 20px;
}
#myTitle {
    width: 450px;
    height: 20px;
    font-family: inherit;
    font-size: 23px;
}
#searchBtn {
    font-size: 20px;
    cursor: pointer;
}
#searchBtn:hover{
    color: #000000;
    font-weight: 600;
}
#section-top-main h3 {
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    color: white;
    margin-bottom: 0px;
}
#section-main-wrap {
    padding: 0 auto;
}
#section-main {
    width: 80%;
    height: 650px;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
.section-main-container {
    float: left;
    width: 35%;
    height: auto;
    margin-right: 7%;
    margin-bottom: 50px;
}
.section-main-container:last-child {
    margin-right: 0;
}
.main-list-top {
    font-family: 'Nanum Pen Script', serif;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #597dbd;
    font-size: 30px;
    color: white;
}
.main-list-top:hover {

}

.main-list-row {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin-bottom: 10px;
}
.main-list-row:hover {
    transform: scale(1.1,1.1);
    transition : all 0.5s ease;
    cursor: pointer;
    background-color: #597dbd;
    color: white;
}
.mainh4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.blog-category-wrap {
    margin: 0 auto;
    width: 65%;
    height: 130px;
    padding-top: 15px;
}

.blog-category {
    height: 28px;
    float: left;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    margin: 3px 20px;
    border-radius: 3px;
    color: black;
    padding-top: 4px;
}

.blog-category:hover {
    background-color: #597dbd;
    color: white;
}

#section-content-wrap {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    margin-bottom: 80px;
}

.section-content-item {
    margin: 0 auto;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 10px;
    font-size: 21px;

}

.section-content-item:hover {
    transform: scale(1.1,1.1);
    transition : all 0.5s ease;
    cursor: pointer;
    background-color: #597dbd;
    color: white;
}

.blog-item-title {
    font-size: 30px;
}

#writeMenu {
    margin: 0 auto;
    width: 80px;
}

#writeModify {
    margin-right: 10px;
}

.btn {
    margin-top: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: #ff6e41;
    width: 80px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
}

.btn:hover {
    font-size: 17px;
    background-color: #FF563A;
}

footer {
    font-family: 'Nanum Pen Script', serif;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #26519e;
    padding: 0 10px;
    text-decoration:none;
    font-size: 19px;
    color: #cfdcf4;
    text-align: center;
    z-index: 99;
}

#content {
    width: 90%;
    margin: 0 auto;
}

footer a {
    text-decoration:none;
    font-size: 21px;
    color: white;
}

.blog-content {
    width:65%;
    margin: 0 auto;
    margin-bottom: 50px;
}

#blogRetrieveForm {
    margin-bottom: 90px;
}

.titleInput {
    width: 260px;
}

/* ------------------------------------ */
/* ----- tablets in portrait mode ----- */
/* ------------------------------------ */
@media only screen and (min-width:560px) and (max-width:1003px){

    .blog-content{
        width: 85%;
    }
    .section-main-container {
        margin-right: 5%;
    }
    .blog-item-title {
        font-size: 25px;
    }
    #section-content-wrap {
        margin-top: 50px;
    }

}

/* ----------------------------------------- */
/* ----- smartphones in landscape mode ----- */
/* ----------------------------------------- */
@media only screen and (max-width: 560px) {
    nav ul{
        display: none;
    }
    #menubar {
        display: inline;
        color: #cfdcf4;
        float: right;
        padding: 15px;
    }
    #menubar:hover {
        cursor: pointer;
    }
    #section-top-main h1 {
        font-size: 25px;
    }
    #section-top-main h3 {
        font-size: 21px;
    }
    #side-menu {
        font-family: 'Nanum Pen Script', serif;
        width: 100%;
        margin-top: 50px;
        position: fixed;
        background-color: #26519e;
        padding-left: 0px;
        z-index: 98;
    }
    #side-menu li{
        text-decoration:none;
        display: block;
        color: #cfdcf4;
    }
    #side-menu li a {
        padding: 10px;
        text-decoration: none;
        display: block;
        font-size: 18px;
        font-weight: bold;
        color: #cfdcf4;
    }
    #side-menu li a:hover {
        background-color: #1c3c75;
        color: white;
    }
    .section-main-container {
        clear: both;
        width: 90%;
    }
    .blog-category-wrap {
        width: 90%;
    }
    .blog-category {
        float: left;
    }
    #section-content-wrap {
        margin: 0 auto;
        width: 90%;
        height: auto;
        margin-bottom: 140px;
    }
    .section-content-item {
        width: 90%;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
        display: inline-table;
    }
    .blog-item-title {
        font-size: 20px;
    }
    .blog-content {
        width: 100%;
    }
    .titleInput {
        width: 190px;
    }
    #adv{
        display: none;
    }
    #myTitle {
        width: 200px;
    }
    #content img{
        width: 80%;
        margin: 0 10%;
    }
}