@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
html, body {
    font-family: 'Nanum Pen Script', serif;
    height:100%;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100%;
    position: relative;
}
a {
    text-decoration: none;
    color: black;
}
nav {
    background-color: #26519e;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 99
}

#nav-main-logo {
    float: left;
    padding: 0 10px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}

#nav-main-logo a {
    text-decoration:none;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #cfdcf4;
}

nav ul {
    margin: 0 0 0 0 ;
}
nav ul li {
    display:inline;
    float:right;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}
nav ul li a {
    padding: 0 10px;
    text-decoration:none;
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #cfdcf4;
}
nav ul li a:hover {
    background-color: #1c3c75;
    color: white;
}
#menubar {
    display: none;
}
#side-menu {
    display: none;
}
#section-top {
    width: 100%;
    height: 250px;
}
#section-top-main {
    width: 100%;
    background-image:url(/resources/image/main.PNG);
    height: 250px;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
}
#section-top-main h1 {
    height: 100px;
    margin-bottom: 0px;
    line-height: 250px;
    vertical-align: middle;
    text-align: center;
    font-size: 42px;
    margin-top: 0px;
    color: white;
}
#section-top-main h3 {
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    color: white;
}
#section-main-wrap {
    padding: 0 auto;
}
#section-main {
    width: 90%;
    height: 650px;
    margin:0 auto;
    margin-top: 30px;
}
.section-main-container {
    float: left;
    width: 30%;
    height: 600px;
    margin-right: 5%;
}
.section-main-container:last-child {
    margin-right: 0;
}
.main-list-top {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #597dbd;
    font-size: 30px;
    color: white;
}
.main-list-top:hover {
}
.main-list-row {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin-bottom: 10px;
}
.main-list-row:hover {
    transform: scale(1.1,1.1);
    transition : all 0.5s ease;
    cursor: pointer;
}
.mainh4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.blog-category-wrap {
    margin: 0 auto;
    width: 50%;
    height: 130px;
    padding-top: 15px;
}

.blog-category {
    width: 86px;
    height: 30px;
    float: left;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
}

.blog-category:hover {
    color: #26519e;
    font-size: 26px;
}

#section-content-wrap {
    margin: 0 auto;
    width: 60%;
    height: 100%;
}

.section-content-item {
    margin: 0 auto;
    height: 100px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 10px;
    font-size: 21px;

}

.section-content-item:hover {
    transform: scale(1.1,1.1);
    transition : all 0.5s ease;
    cursor: pointer;
}

.blog-item-title {
    font-size: 41px;
}

footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #26519e;
    padding: 0 10px;
    text-decoration:none;
    font-size: 19px;
    color: #cfdcf4;
    text-align: center;
}

footer a {
    text-decoration:none;
    font-size: 21px;
    color: white;
}


@media only screen and (max-width: 560px) {
    nav ul{
        display: none;
    }
    #menubar {
        display: inline;
        color: #cfdcf4;
        float: right;
        padding: 15px;
    }
    #menubar:hover {
        cursor: pointer;
    }
    #section-top-main h1 {
        font-size: 25px;
    }
    #section-top-main h3 {
        font-size: 21px;
    }
    #side-menu {
        width: 100%;
        margin-top: 50px;
        position: fixed;
        background-color: #26519e;
        padding-left: 0px;
        z-index: 98;
    }
    #side-menu li{
        text-decoration:none;
        display: block;
        color: #cfdcf4;
    }
    #side-menu li a {
        padding: 10px;
        text-decoration: none;
        display: block;
        font-size: 18px;
        font-weight: bold;
        color: #cfdcf4;
    }
    #side-menu li a:hover {
        background-color: #1c3c75;
        color: white;
    }
    .section-main-container {
        clear: both;
        width: 100%;
    }
    .blog-category-wrap {
        width: 90%;
    }
    .blog-category {
        width: 70px;
        float: left;
    }
    #section-content-wrap {
        margin: 0 auto;
        width: 90%;
    }
    .section-content-item {
        width: 90%;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
        padding: 20px;
    }
}