<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BlogMapper">

    <select id="selectBlogList"
            parameterType="com.cheekee.blog.domain.BlogVO"
            resultType="com.cheekee.blog.domain.BlogVO">
        SELECT (SELECT COUNT(*) FROM cheekee.blog WHERE  DIVISION = '${division}'
        <if test="searchCategory != null">
            AND BLOG_CATEGORY = '${searchCategory}'
        </if>
        ) AS BLOG_COUNT, BLOG_DT AS BLOG_DT_TIME, DATE_FORMAT(BLOG_DT, '%Y-%m-%d') AS BLOG_DT, BLOG_TITLE, BLOG_CATEGORY, BLOG_IDX, DIVISION FROM cheekee.blog
        <if test='division == "blog"'>
            WHERE DIVISION = 'blog'
        </if>
        <if test='division == "idea"'>
            WHERE DIVISION = 'idea'
        </if>
        <if test="searchCategory != null">
            AND BLOG_CATEGORY = '${searchCategory}'
        </if>
        ORDER BY BLOG_DT_TIME desc LIMIT ${pageNumber}, ${pageEndNumber}
    </select>

    <select id="selectBlogCategoryList"
            parameterType="com.cheekee.blog.domain.BlogVO"
            resultType="java.lang.String">
        SELECT distinct BLOG_CATEGORY FROM cheekee.blog
        <if test='division == "blog"'>
            WHERE DIVISION = 'blog'
        </if>
        <if test='division == "idea"'>
            WHERE DIVISION = 'idea'
        </if>
    </select>

    <select id="selectBlogRetrieve"
            parameterType="java.lang.String"
            resultType="com.cheekee.blog.domain.BlogVO">
        SELECT * FROM cheekee.blog WHERE BLOG_IDX = #{value};
    </select>

    <select id="insertPost"
            parameterType="com.cheekee.blog.domain.BlogVO"
            resultType="Integer">
        INSERT INTO cheekee.blog (BLOG_CATEGORY, BLOG_TITLE, BLOG_DESC, BLOG_DT, BLOG_REGISTER, DIVISION) VALUES ('${blogCategory}', '${blogTitle}', '${blogDesc}', now(), 'admin', '${division}');
    </select>

    <select id="updatePost"
            parameterType="com.cheekee.blog.domain.BlogVO"
            resultType="Integer">
        UPDATE cheekee.blog SET BLOG_CATEGORY = '${blogCategory}', BLOG_TITLE = '${blogTitle}', BLOG_DESC = '${blogDesc}', BLOG_DT = now(), BLOG_REGISTER = 'admin', DIVISION = '${division}' WHERE BLOG_IDX = '${blogIdx}';
    </select>

    <select id="deletePost"
            parameterType="java.lang.String"
            resultType="Integer">
        DELETE FROM cheekee.blog WHERE BLOG_IDX = #{value};
    </select>

    <select id="selectPostTitle"
            resultType="com.cheekee.blog.domain.BlogVO">
        SELECT BLOG_IDX, BLOG_TITLE FROM cheekee.blog;
    </select>

</mapper>