<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BlogMapper">

    <select id="selectBlogList"
            parameterType="com.cheekee.blog.domain.BlogVO"
            resultType="com.cheekee.blog.domain.BlogVO">
        SELECT (SELECT COUNT(*) FROM CHEEKEE.BLOG) AS BLOG_COUNT, BLOG_DT, BLOG_TITLE, BLOG_CATEGORY, BLOG_IDX FROM CHEEKEE.BLOG ORDER BY BLOG_DT desc LIMIT ${pageNumber}, ${pageEndNumber}
    </select>

</mapper>