<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BlogMapper">

    <select id="selectBlogList"
            parameterType="com.cheekee.blog.domain.BlogVO"
            resultType="com.cheekee.blog.domain.BlogVO">
        SELECT (SELECT COUNT(*) FROM CHEEKEE.BLOG
        <if test="searchCategory != null">
            WHERE BLOG_CATEGORY = '${searchCategory}'
        </if>
        ) AS BLOG_COUNT, BLOG_DT, BLOG_TITLE, BLOG_CATEGORY, BLOG_IDX FROM CHEEKEE.BLOG
        <if test='division == "blog"'>
            WHERE DIVISION = 'blog'
        </if>
        <if test='division == "idea"'>
            WHERE DIVISION = 'idea'
        </if>
        <if test="searchCategory != null">
            AND BLOG_CATEGORY = '${searchCategory}'
        </if>
        ORDER BY BLOG_DT desc LIMIT ${pageNumber}, ${pageEndNumber}
    </select>

    <select id="selectBlogCategoryList"
            parameterType="com.cheekee.blog.domain.BlogVO"
            resultType="java.lang.String">
        SELECT distinct BLOG_CATEGORY FROM CHEEKEE.BLOG
        <if test='division == "blog"'>
            WHERE DIVISION = 'blog'
        </if>
        <if test='division == "idea"'>
            WHERE DIVISION = 'idea'
        </if>
    </select>

    <select id="selectBlogRetrieve"
            parameterType="java.lang.String"
            resultType="com.cheekee.blog.domain.BlogVO">
        SELECT * FROM CHEEKEE.BLOG WHERE BLOG_IDX = #{value};
    </select>

    <select id="insertBlog"
            parameterType="com.cheekee.blog.domain.BlogVO"
            resultType="Integer">
        INSERT INTO CHEEKEE.BLOG (BLOG_CATEGORY, BLOG_TITLE, BLOG_DESC, BLOG_DT, BLOG_REGISTER, DIVISION) VALUES ('${blogCategory}', '${blogTitle}', '${blogDesc}', now(), 'admin', '${division}');
    </select>

    <select id="insertIdea"
            parameterType="com.cheekee.blog.domain.BlogVO"
            resultType="Integer">
        INSERT INTO CHEEKEE.BLOG (BLOG_CATEGORY, BLOG_TITLE, BLOG_DESC, BLOG_DT, BLOG_REGISTER, DIVISION) VALUES ('${blogCategory}', '${blogTitle}', '${blogDesc}', now(), 'admin', '${division}');
    </select>



</mapper>